@model AdminSite.Models.AssociateLink

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AssociateLink</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Link.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserRole.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserRole.RoleName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssociateLinkID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
